* {
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  color: #fff;
  background-color: #333;
  width: 100%;
}
.characters {
  text-align: center;
  &-btn {
    margin: 10px;
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
    border-radius: 3px;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    outline: none;
  }
  h1 {
    font-size: 50px;
    text-align: center;
  }
  h5 {
    padding-bottom: 50px;
  }
  &__table {
    margin: auto;
    max-width: 90%;
    overflow: hidden;
    margin: auto;
  }
  &__list {
    text-align: left;
    width: 50%;
    margin: auto;
    &-alphabet {
      text-transform: uppercase;
      font-size: 50px;
    }
    &__item {
      display: inline-flex;
      padding: 20px;
      max-width: 200px;
      min-width: 200px;
      text-align: center;
      list-style: none;
      text-decoration: none;
      overflow: hidden;

      &-img {
        max-width: 200px;
        min-width: 200px;
      }

      &-name {
        font-size: 20px;
      }
    }
  }
}
